html {
    --backdrop: #830;
    --background: #ded;
    --text-color-normal: #222;
    --text-color-link: #44e;
    background-color: var(--backdrop);
    color: var(--text-color-normal);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
}

html[data-theme='dark'] {
    --backdrop: #510;
    --background: #483232;
    --text-color-normal: #ddd;
    --text-color-link: #77f;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: var(--background);
    width: 70rem;
    border-radius: 0.5rem;
}

header {
    padding: 1rem;
    display: flex;
}

header section.controls {
    justify-self: end;
    margin-left: auto;
}

main {
    padding: 1rem;
}

a {
  outline-color: transparent;
}

a:link {
  color: var(--text-color-link);
}

a:visited {
  color: var(--text-color-link);
}

.action-link {
    font-size: 0.8rem;
}

.flashcard-action {
    display: inline;
}