{% extends "polls/base.html" %}

{% block content %}

    {% if poll %}
        <form action="{% url 'polls:vote' poll_name%}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h3>{{ poll.question }}</h3></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in poll.options %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ forloop.counter0 }}" required>
                <label for="choice{{ forloop.counter }}">{{ choice.text }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote">
        </form>
    {% else %}
        <p>No such poll '{{ poll_name }}'!</p>
    {% endif %}
{% endblock %}