<%- include("head.partial.ejs") %>

<main id="quiz">
</main>

<template id="categoryTemplate">
  <div>
    <div class="categoryName"></div>
    <button>Take quiz</button>
  </div>
</template>

<%- include("foot.partial.ejs") %>
